@font-face {
    src: url('/static/fonts/Bitter-Regular.ttf');
    font-family: Bitter;
}


*, *::after, *::before { box-sizing: border-box; }


html {
    font-size: 18px;
    font-family: Bitter, sans-serif;
    height: 100%;
    overflow-y: hidden;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    background-image: url('../img/paula-vermeulen-_f2m3mEkaaU-unsplash.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.align-text-center {
    text-align: center;
}

.input, .upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    height: 100%;
    width: 30vh;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 48rem) {
    .footer-nav  {
        width: 80vw;
    }
}

.footer-nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-nav li {
    display: inline-block;
}

.footer__twitter-logo {
    height: 48px;
    width: 48px;
}

.footer__github-logo {
    height: 32px;
    width: 32px;
}

.upload {
    justify-content: center;
}
@media (max-width: 1200px) {
    .upload {
        height: 70%;
        justify-content: start;
    }
}

.upload form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-status-container {
    display: none;
    text-align: center;
}

.text-feedback {
    display: inline-block;
    text-align: center;
    padding: 0.4rem;
    margin: 0.4rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
@media (max-width: 48rem) {
    .text-feedback {
        color: white;
        opacity: 87%;
        background-color: rgba(0, 0, 0, 0.6);
    }  
}

.error-text {
    display: none;
    color: red;
    background-color: transparent;
}


.file-size, .response-text {
    text-decoration: underline;
    display: none;
}

.download-notice {
    font-size: 0.8rem;
    color: white;
    opacity: 87%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    margin: 0;
}

/* all submit-btn code is from: https://css-tricks.com/overriding-default-button-styles/ */
.submit-btn {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0;
    text-decoration: none;
    border-radius: 8px;
    background: #121212;
    color: #ffffff;
    opacity: 87%;
    font-family: sans-serif;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
@media (max-width: 1200px) {
    .submit-btn {
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;
        font-size: 2.5rem;
    }
}
.submit-btn:hover,
.submit-btn:focus {
    background: black;
    color: #bbb;
}
.submit-btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
.submit-btn:active {
    transform: scale(0.99);
}
.submit-btn:disabled,
.submit-btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: wait;
}


.download-btn, .download-btn:visited, 
.download-btn:hover, .download-btn:active {
    text-decoration: none;
    background-color: transparent;
    padding: 1rem;
    font-size: 2.5rem;
    color: #121212;
}
@media (max-width: 48rem) {
    .download-btn, .download-btn:visited, 
    .download-btn:hover, .download-btn:active {
        font-size: 1.8rem;
    }
}